/* General */

html {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;/* 
  background: rgb(236, 195, 195); */
  
}

main{
  display: flex;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  height: auto;
}

/* Header */

header{
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #29dddd;
}

.menu{

}

.icon-menu{
  height: 80px;
}

.header-logo{

}

.icon-logo{
  height: 80px;
}

.log-out{

}

.icon-log-out{
  height: 80px;
}

/* Login */

.section-banner{
  width: 50%;
  height: 100vh;
  background-image: linear-gradient(to right, #ffb758, #ffffff);
}

.container-banner{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-banner > p{
  font-size: 26px;
}

.section-main{
  width: 50%;
  text-align: center;
  height: 100vh;
}

.container-logo{

}

.icon-logo-main{
  height: 160px;
}

.section-main > p{ 
  font-size: 18px;
}

form{
  height: auto;
  width: 100%;
}

input{
  width: 90%;
  height: 40px;
  border-radius: 16px;
  margin: 8px 0px;
  border: 1px solid #bebebe;
  outline: none;
  padding-left: 4px;
}

.btn{
  background-color:#ff9800;
  color: white;
  border-radius: 16px;
  margin-top: 8px;
  height: 40px;
  width: 60%;
  border-style: none;
}

/* Home */

.profile{
  width: 30%;
  height: auto;
  box-sizing: border-box;
  margin-right: 20px;
  margin-top: 48px;
}

.container-posts{
  width: 40%;
  height: auto;
  box-sizing: border-box;
  margin-top: 48px;
}

.front{
  background-color: #bebebe;
  height: 90px;
}

.user-profile{
  height: auto;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.user-photo{
  width: 30%;
  border-radius: 70%;
}

.detail-user{
  width: 60%;
  height: 100px;
}

.card-new-post{
  height: auto;
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid #888888;
  border-radius: 8px;
}

.card-new-post > textarea{
  height: 88px;
  width: calc(100% - 16px);
  border: 1px solid #888888;
  border-radius: 8px;
}

.detail-post > textarea{
  height: 88px;
  width: 100%;
  border: 0px;
}

.footer-new-post{
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-post > .share-post{
  width: 20%;
  height: 30px;
}

/* Post */

.card-post{
  display: inline-block;
  height: auto;
  width: 100%;
  margin-bottom: 16px;
  border: 1px solid #888888;
  border-radius: 8px;
}

.header-post{
  width: 100%;
  height: 44px;
  display: flex;
  padding: 0px 8px;
  justify-content: space-between;
  align-items: center;
  background-color: #bebebe;
  box-sizing: border-box;
}

.detail-post{
  height: auto;
  width: 100%;
}

.card-post > .footer-post{
  height: auto;
  width: 100%;
  display: block;
  float: left;
  background-color: #bebebe;
}

.footer-post > .like-post, .footer-post > .update-post{
  width: 10%;
}

