/* General */

html {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: cornflowerblue;
}

.c-green{
    color: rgb(64, 167, 33);
}

a{
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 320px){
  main{
    height: calc(100% - 54px);
    display: block;
    width: 100%;
    box-sizing: border-box;
    background-image: url('../img/cushion.jpg');
    background-position-x: right;
    background-position-y: inherit;
    background-size: inherit;
  }

  /* Header */

  header{
    height: 54px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
    background-color: rgb(9, 31, 128);
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
  }

  .menu{

  }

  .icon-menu{
    
  }

  .header-logo{

  }

  .icon-logo{
    height: 80px;
  }

  .log-out{

  }

  .icon-log-out{
  }

  /* Login */

  .section-banner{
    display: none;  
  }

  .section-main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    height: 100vh;
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
  }

  .container-logo{
    width: 100%;
  }

  .icon-logo-main{
    height: 120px;
  }

  .section-main > p{ 
    font-size: 18px;
  }

  form{
    height: auto;
    width: 100%;
  }

  input{
    width: 90%;
    height: 40px;
    border-radius: 16px;
    margin: 8px 0px;
    border: 1px solid #bebebe;
    outline: none;
    padding-left: 4px;
  }

  .btn{
    background-color:#ff9800;
    color: white;
    border-radius: 16px;
    margin-top: 8px;
    height: 40px;
    width: 60%;
    border-style: none;
  }

  /* Home */

  .profile{
    width: 100%;
    height: auto;
    padding: 24px;
    padding-bottom: 0px;
    box-sizing: border-box;
    margin-right: 20px;
    margin-top: 0px;
    background-color: #ffffff;
  }

  .container-posts-general{
    width: 100%;
    height: auto;
    padding: 24px 24px 0px 24px;
    box-sizing: border-box;
    margin-top: 0px;
    background-color: #ffffff;
  }

  .container-posts{
    height: calc(100vh - 385px);
    overflow-y: scroll;
  }

  .front{
    display: none;
    height: 130px;
  }

  .user-profile{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
  }

  .user-photo{
    height: 100px;
    width: 100px;
    border-radius: 70%;
  }

  .detail-user{
    width: 70%;
    height: 80px;
    padding-left: 8px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-content: center;
    box-sizing: border-box;
  }

  .detail-user > span{
    width: 100%;
  }

  .card-new-post{
    height: auto;
    width: auto;
    padding: 16px;
    margin-bottom: 8px;
    border: 1px solid #bebebe;
    border-radius: 4px;
  }

  .card-new-post > textarea{
    height: 88px;
    width: calc(100% - 4px);
    border: 1px solid #bebebe;
    border-radius: 4px;
    padding: 8px 0px 0px 4px;
    outline: none;
    resize: none;
  }

  .detail-post > textarea{
    height: calc(100% - 8px);
    width: calc(100% - 4px);
    border: 0px;
    padding: 0px;
    padding: 8px 0px 0px 4px;
    outline: none;
    resize: none;
  }

  .footer-new-post{
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-new-post > .btn-share{
    width: 100px;
    background-color:#ff9800;
    color: white;
    border-radius: 16px;
    height: 36px;
    border-style: none;
    outline: none;
  }

  /* Post */

  .card-post{
    display: inline-block;
    height: auto;
    width: calc(100% - 2px);
    margin-bottom: 16px;
    border: 1px solid #bebebe;
    border-radius: 4px;
  }

  .header-post{
    width: 100% ;
    height: 48px;
    display: flex;
    padding: 0px 8px;
    justify-content: space-between;
    align-items: center;
    background-color: #bebebe;
    box-sizing: border-box;
    border-radius: 4px 4px 0px 0px;
    border: 1px solid #bebebe;
    box-sizing: border-box;
  }

  .detail-post{
    height: 72px;
    width: 100%;
  }

  .card-post > .footer-post{
    height: 48px;
    width: 100% ;
    display: flex;
    align-items: center;
    background-color: #bebebe;
    border-radius: 0px 0px 4px 4px;
    border: 1px solid #bebebe;
    box-sizing: border-box;
  }

  .footer-post > .like-post, .footer-post > .update-post{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border-style: none;
    text-align: center;
    padding: 0px;
    background-color: transparent;
  }  
}


@media (min-width: 768px){
  main{
    height: calc(100% - 54px);
    display: flex;
    justify-content: center;
  }

  /* Header */

  /* Login */

  .section-banner{
    display: block;
  }

  .container-banner{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: baseline;
    text-align: center;
  }

  .container-banner > p{
    font-size: 24px;
    color: blue;
  }

  .section-main{
    width: 40%;
    text-align: center;
    height: 100vh;
    background-color: #ffffff;
  }

  .container-logo{

  }

  .icon-logo-main{
    height: 160px;
  }

  .section-main > p{ 
    font-size: 18px;
  }

  form{
    height: auto;
    width: 100%;
  }

  input{
    width: 90%;
    height: 40px;
    border-radius: 16px;
    margin: 8px 0px;
    border: 1px solid #bebebe;
    outline: none;
    padding-left: 4px;
  }

  .btn{
    background-color:#ff9800;
    color: white;
    border-radius: 16px;
    margin-top: 8px;
    height: 40px;
    width: 60%;
    border-style: none;
  }

  /* Home */

  .profile{
    width: 30%;
    margin-top: 36px;
    padding: 0px;
    height: 250px;
    border-radius: 8px;
  }

  .container-posts-general{
    width: 40%;
    height: auto;
    padding: 0px;
    margin-top: 36px;
    border-radius: 8px;
    background-color: transparent;
  }

  .container-posts{
    height: calc(100vh - 273px);
    overflow-y: scroll;
  }

  .front{
    background-color: #bebebe;
    display: block;
    border-radius: 8px 8px 0px 0px;
  }

  .user-profile{
    justify-content: center;
    padding: 4px;
  }

  .user-photo{
    border-radius: 70%;
  }

  .detail-user{
    width: 70%;
    height: 120px;
    padding-left: 16px;
  }

  .card-new-post{
    background-color: #ffffff;  
    border-radius: 8px;  
  }

  .card-new-post > textarea{
  }

  .detail-post > textarea{
  }

  .footer-new-post{
  }

  .footer-post > .share-post{
  }

  /* Post */

  .card-post{
  }

  .header-post{
  }

  .detail-post{
  }

  .card-post > .footer-post{
  }

  .footer-post > .like-post, .footer-post > .update-post{
   
  }  
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
